<div class="profile-container">
  <div class="profile-info-row">
    <div class="profile-info-img">
      <img src="/assets/avatar.png"/>
    </div>
    <div class="profile-info-data">
      <div class="profile-info-data-name">Ivan Horvat</div>
      <div class="profile-info-data-field">Krvna grupa: <span>AB+</span></div>
      <div class="profile-info-data-field">Datum zadnje donacije: <span>25.01.2018.</span></div>
      <div>
        <div class="profile-info-data-field">Dodatne napomene:</div>
        <div>
          <div style="font-size: 8pt; margin-top: .25em; font-style: italic">Boravio u Engleskoj za vrijeme epidemije gripe</div>
          <div style="font-size: 8pt; margin-top: .25em; font-style: italic">Povišena tijelesna težina prilikom zadnje kontrole prije vadenja krvi</div>
        </div>
    </div>
  </div>
</div>
  <div class="profile-donation-list-row">
    <table class="profile-donation-list-row" mat-table matSort #bloodDonationTable [dataSource]="dataSource">
      <ng-container matColumnDef="ord">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>No.</th>
        <td mat-cell *matCellDef="let element"> {{element.ord}}</td>
      </ng-container>

      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Datum</th>
        <td mat-cell *matCellDef="let element"> {{element.date | date : "shortDate"}}</td>
      </ng-container>

      <ng-container matColumnDef="location">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Lokacija donacije</th>
        <td mat-cell *matCellDef="let element"> {{element.location}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
  </div>
</div>
