.profile-container {
  padding: 1em;
}

.profile-info-row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.profile-info-img {
  align-self: center;
  margin-left: auto;
  margin-right: auto;
  flex: 1 0 25%;
}

.profile-info-img img {
  width: calc(100% - 3em);
  margin-left: 1.5em;
  margin-right: 1.5em;
}

.profile-info-data {
  min-width: 530px;
  flex: 1 0 75%;
}

.profile-donation-list-row {
  clear: both;
  margin-top: 3em;
  width: 100%;
}

.profile-donation-list {
  width: 100%;
}

.profile-info-data-name {
  font-size: 14pt;
  font-weight: bold;
  margin-bottom: 12px;
}

.profile-info-data-name {
  font-size: 14pt;
  font-weight: bold;
  margin-bottom: 12px;
}

.profile-info-data-field {
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

@media(max-width: 834px) {
  .profile-info-img img {
    width: 250px;
    margin-left: calc(50% - 125px);
    margin-right: 5%;
    margin-bottom: 1em;
  }

  .profile-info-data {
    text-align: center;
    min-width: 200px;
    width: 350px;
  }
}
