<div class="qr-container">
  <mat-toolbar class="mat-elevation-z0">Potvrdi donaciju</mat-toolbar>
  <qrcode style="margin-left: auto; margin-right: auto; margin-top: 2em" [qrdata]="{'userId':'1', 'date': '2018-03-13'}" [size]="256" [level]="'M'"></qrcode>
  <div style="text-align: center; margin-top: 0.5em">
    <h4>Ivan Horvat</h4>
    <h5>13.03.2018</h5>
  </div>
</div>
