.table-container {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  max-height: 500px;
  min-width: 300px;
  overflow: auto
}

.mat-row:hover {
  background-color: whitesmoke;
  cursor: pointer;
}
