<div class="table-container">
  <mat-toolbar class="mat-elevation-z1">Popis Donora&nbsp;&nbsp;<button mat-icon-button (click)="openNewDialog()">
    <mat-icon>add</mat-icon>
  </button>
  </mat-toolbar>
  <table mat-table matSort class="mat-elevation-z8" [dataSource]="dataSource">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
      <td mat-cell *matCellDef="let donor">{{donor.lastName + " " + donor.firstName}}</td>
    </ng-container>

    <ng-container matColumnDef="bloodType">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Blood type</th>
      <td mat-cell *matCellDef="let donor">{{donor.bloodType}}</td>
    </ng-container>

    <ng-container matColumnDef="gender">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Gender</th>
      <td mat-cell *matCellDef="let donor">{{donor.gender}}</td>
    </ng-container>

    <ng-container matColumnDef="canDonate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Can donate</th>
      <td mat-cell *matCellDef="let donor">{{canDonate(donor)}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row (click)="openDonorProfile(row.id)" *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
