<div>
  <div style="display: block; margin-left: auto; margin-right: auto; width: 100%; margin-top: 5em;">
    <img src="/assets/blood-drop.svg" style="width:300px; margin-left: calc(50% - 150px); margin-right: auto">
  </div>
  <div style="display: block; margin-top: 0.75em">
    <h3 style="font-family: 'Lato'; font-size: 28pt; display: block; vertical-align: middle; text-align: center; padding-top: 2.0em; color: #323232">Krv za život</h3>
    <span style="font-family: 'Lato'; font-size: 18pt; display: block; text-align: center; margin-top: 0.5em; margin-bottom: 2.5em; font-style: italic"> Prijavite se u najveću online bazu dobrovoljnih darivatelja krvi.</span>
    <a style="font-family: 'Lato'; display: block; width: 300px; background-color: #D80027; border-radius: 50px; color: white; font-weight: bold; font-size: 14pt; padding: 0.5em; text-align: center; margin-left: auto; margin-right: auto" mat-button href="http://localhost:8081/auth/login">PRIJAVA/REGISTRACIJA</a>
  </div>
</div>
