<div>
  <div mat-dialog-title>
    <h1 mat-dialog-title>{{data.title}}</h1>
  </div>
  <div mat-dialog-content>
    <form>
      <mat-form-field class="dialog-input" appearance="standard">
        <mat-label>Kolicina</mat-label>
        <input type="number" min="1" matInput [(ngModel)]="bloodRequest.amount" placeholder="Unesite kolicnu..." name="amount">
      </mat-form-field>

      <mat-form-field class="dialog-input" appearance="standard">
        <mat-label>Krvna grupa</mat-label>
        <mat-select [(ngModel)]="bloodRequest.bloodType" placeholder="Odaberite krvnu grupu" name="bloodType">
          <mat-option [value]="'OM'">O-</mat-option>
          <mat-option [value]="'AM'">A-</mat-option>
          <mat-option [value]="'BM'">B-</mat-option>
          <mat-option [value]="'ABM'">AB-</mat-option>
          <mat-option [value]="'OP'">O-</mat-option>
          <mat-option [value]="'AP'">A-</mat-option>
          <mat-option [value]="'BP'">B-</mat-option>
          <mat-option [value]="'ABP'">AB-</mat-option>
        </mat-select>
      </mat-form-field>
    </form>
  </div>
  <div mat-dialog-actions class="dialog-footer">
    <button mat-button (click)="closeDialog()">Odustani</button>
    <button mat-button [mat-dialog-close]="bloodRequest" cdkFocusInitial>Spremi</button>
  </div>
</div>
