.table-container {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  /*max-height: 500px;*/
  min-width: 300px;
  overflow: auto;
}

.dialog-input {
  width: 100%;
}

.dialog-footer {
  margin: 1.25em 0 0.5em auto;
  float: right
}

.example-header {
  background-color: white;
  min-height: 64px;
  padding: 8px 24px 0;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}
