<div class="table-container mat-elevation-z1">
  <mat-toolbar class="mat-elevation-z1">Zalihe krvi&nbsp;&nbsp;<button mat-icon-button
                                                                       (click)="openNewDialog()">
    <mat-icon>add</mat-icon>
  </button>
  </mat-toolbar>
  <div class="example-header mat-elevation-z1">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtriraj krvne grupe...">
    </mat-form-field>
  </div>
  <table mat-table matSort #bloodTypeTable [dataSource]="dataSource">
    <ng-container matColumnDef="bloodType">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Krvna grupa</th>
      <td mat-cell *matCellDef="let element"> {{element.bloodType}}</td>
    </ng-container>

    <ng-container matColumnDef="amount">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Preostala količina krvi</th>
      <td mat-cell *matCellDef="let element"> {{element.amount}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>
</div>


