.main-container {
  height: calc(100vh - 45px);
}

.side-container {
  background-color: #D80027;
  width: 100%;
  height: 45px
}

.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  height: 7px
}

.content-container {
  max-width: 1200px;
  margin: auto;
  padding-left: 2em;
  padding-right: 2em
}

.data-button {
  display: block;
  width: 15em
}
