<mat-progress-bar class="progress-bar" mode="query" *ngIf="isLoading | async"></mat-progress-bar>

<toaster-container [toasterconfig]="toasterconfig"></toaster-container>

<div class="side-container">
  <button (click)="sidenav.toggle()" mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>
</div>

<mat-drawer-container class="main-container">
  <mat-drawer #sidenav mode="over">
    <button mat-button class="data-button" [routerLink]="['']">Početna</button>
    <button mat-button class="data-button" [routerLink]="['notifications']">Notifikacije</button>
    <button mat-button class="data-button" [routerLink]="['polls']">Anketa</button>
    <button mat-button class="data-button" [routerLink]="['blood-supplies']">Zalihe krvi</button>
    <button mat-button class="data-button" [routerLink]="['users']">Pregled donora</button>
    <button mat-button class="data-button" [routerLink]="['qr-generator']">Generiraj QR potvrdu</button>
  </mat-drawer>

  <div class="content-container">
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>
