<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Green Garden auth</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="../static/assets/images/icons/favicon.ico"
          th:href="@{/assets/images/icons/favicon.ico}"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css"
          href="../static/assets/vendor/bootstrap/css/bootstrap.min.css"
          th:href="@{/assets/vendor/bootstrap/css/bootstrap.min.css}"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css"
          href="../static/assets/fonts/font-awesome-4.7.0/css/font-awesome.min.css"
          th:href="@{/assets/fonts/font-awesome-4.7.0/css/font-awesome.min.css}"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css"
          href="../static/assets/fonts/iconic/css/material-design-iconic-font.min.css"
          th:href="@{/assets/fonts/iconic/css/material-design-iconic-font.min.css}"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../static/assets/vendor/animate/animate.css"
          th:href="@{/assets/vendor/animate/animate.css}"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css"
          href="../static/assets/vendor/css-hamburgers/hamburgers.min.css"
          th:href="@{/assets/vendor/css-hamburgers/hamburgers.min.css}"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css"
          href="../static/assets/vendor/animsition/css/animsition.min.css"
          th:href="@{/assets/vendor/animsition/css/animsition.min.css}"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../static/assets/vendor/select2/select2.min.css"
          th:href="@{/assets/vendor/select2/select2.min.css}"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css"
          href="../static/assets/vendor/daterangepicker/daterangepicker.css"
          th:href="@{/assets/vendor/daterangepicker/daterangepicker.css}"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../static/assets/css/util.css"
          th:href="@{/assets/css/util.css}"/>
    <link rel="stylesheet" type="text/css" href="../static/assets/css/main.css"
          th:href="@{/assets/css/main.css}"/>
    <!--===============================================================================================-->
</head>
<body>
<div class="limiter" style="max-height: 500px !important;">
    <div id="login" class="container-login100">
        <div class="wrap-login100 p-t-65 p-b-20">
            <form class="login100-form validate-form login" method="post" action="/auth/login">
					<span class="login100-form-title p-b-50 p-t-10">
						Prijava
					</span>

                <div>
						<img src="../static/assets/images/blood-drop.svg"
                             th:src="@{/assets/images/blood-drop.svg}" alt="AVATAR" style="margin-left: 115px; height: 150px;"/>
					</div>

                <div class="wrap-input100 validate-input m-t-85 m-b-35"
                     data-validate="Unesite korisničko ime">
                    <input class="input100 input-login" type="text" name="username"/>
                    <span class="focus-input100" data-placeholder="Korisničko ime"></span>
                </div>

                <div class="wrap-input100 validate-input m-b-50" data-validate="Unesite lozinku">
                    <input class="input100 input-login" type="password" name="password"/>
                    <span class="focus-input100" data-placeholder="Lozinka"></span>
                </div>

                <div class="container-login100-form-btn">
                    <button type="submit" class="login100-form-btn">
                        Prijavi se
                    </button>
                </div>

                <ul class="login-more p-t-150">
                    <li class="m-b-8">
							<span class="txt1">
								Zaboravili ste korisničko ime ili lozinku? Zatražite nove podatke
							</span>

                        <a href="#" class="txt2">
                            ovdje.
                        </a>
                    </li>

                    <li>
							<span class="txt1">
								Nemate račun?
							</span>

                        <a href="#" onclick="toggleRegistrationForm()" class="txt2">
                            Registrirajte se besplatno!
                        </a>
                    </li>
                </ul>
            </form>
        </div>
    </div>

    <div id="register" class="container-login100" style="display: none">
        <div class="wrap-login100 p-t-25 p-b-20">
            <form class="login100-form validate-form register" method="post" action="/auth/register">
					<span class="login100-form-title p-b-20 p-t-30">
						Registracija
					</span>

                <div class="wrap-input100 validate-input m-b-35"
                     data-validate="Unesite ime">
                    <input class="input100 input-register" type="text" name="firstName"/>
                    <span class="focus-input100" data-placeholder="Ime"></span>
                </div>

                <div class="wrap-input100 validate-input m-b-35"
                     data-validate="Unesite prezime">
                    <input class="input100 input-register" type="text" name="lastName"/>
                    <span class="focus-input100" data-placeholder="Prezime"></span>
                </div>

                <div class="wrap-input100 validate-input m-b-35"
                     data-validate="Odaberite krvnu grupu">
                    <select class="input100 input-register" style="border: none; outline: none;" name="bloodType">
                        <option value=""></option>
                        <option value="OM">0-</option>
                        <option value="AM">A-</option>
                        <option value="BM">B-</option>
                        <option value="ABM">AB-</option>
                        <option value="OP">0+</option>
                        <option value="AP">A+</option>
                        <option value="BP">B+</option>
                        <option value="ABP">AB+</option>
                    </select>
                    <span class="focus-input100" data-placeholder="Krvna grupa"></span>
                </div>

                <div class="wrap-input100 validate-input m-b-35"
                     data-validate="Odaberite spol">
                    <select class="input100 input-register" style="border: none; outline: none;" name="gender">
                        <option value=""></option>
                        <option value="M">Muškarac</option>
                        <option value="Z">Žena</option>
                    </select>
                    <span class="focus-input100" data-placeholder="Spol"></span>
                </div>

                <div class="wrap-input100 validate-input m-b-35"
                     data-validate="Unesite ispravnu mail adresu">
                    <input class="input100 input-register" type="email" name="email"/>
                    <span class="focus-input100" data-placeholder="Email"></span>
                </div>

                <div class="wrap-input100 validate-input m-b-35" data-validate="Unesite lozinku">
                    <input class="input100 input-register" type="password" id="registration-password" name="password"/>
                    <span class="focus-input100" data-placeholder="Lozinka"></span>
                </div>

                <div class="wrap-input100 validate-input m-b-50"
                     data-validate="Lozinke se ne podudaraju">
                    <input class="input100 input-register" type="password" name="password-confirm"/>
                    <span class="focus-input100" data-placeholder="Potvrdite lozinku"></span>
                </div>

                <div class="validate-input m-b-50"
                     data-validate="Lozinke se ne podudaraju">
                    <input onchange="toggleSubmit()" class="" type="checkbox"/>
                    <span>Slažem se da dobrovoljno dajem svoje osobne podatke na korištenje aplikacije Kap Za Život. Podaci predani ovoj aplikaciji neće biti dijeljeni sa trećim strankama.</span>
                </div>

                <div class="container-login100-form-btn">
                    <button id="register-submit" disabled="disabled" class="login100-form-btn">
                        Registriraj se
                    </button>
                </div>

                <ul class="login-more p-t-60">
                    <li class="m-b-8">
							<span class="txt1">
								Imate račun? Prijavite se
							</span>

                        <a href="#" onclick="toggleLoginForm()" class="txt2">
                            ovdje.
                        </a>
                    </li>
                </ul>
            </form>
        </div>
    </div>

</div>


<div id="dropDownSelect1"></div>

<!--===============================================================================================-->
<script src="../static/assets/vendor/jquery/jquery-3.2.1.min.js"
        th:src="@{/assets/vendor/jquery/jquery-3.2.1.min.js}"></script>
<!--===============================================================================================-->
<script src="../static/assets/vendor/animsition/js/animsition.min.js"
        th:src="@{/assets/vendor/animsition/js/animsition.min.js}"></script>
<!--===============================================================================================-->
<script src="../static/assets/vendor/bootstrap/js/popper.js"
        th:src="@{/assets/vendor/bootstrap/js/popper.js}"></script>
<script src="../static/assets/vendor/bootstrap/js/bootstrap.min.js"
        th:src="@{/assets/vendor/bootstrap/js/bootstrap.min.js}"></script>
<!--===============================================================================================-->
<script src="../static/assets/vendor/select2/select2.min.js"
        th:src="@{/assets/vendor/select2/select2.min.js}"></script>
<!--===============================================================================================-->
<script src="../static/assets/vendor/daterangepicker/moment.min.js"
        th:src="@{/assets/vendor/daterangepicker/moment.min.js}"></script>
<script src="../static/assets/vendor/daterangepicker/daterangepicker.js"
        th:src="@{/assets/vendor/daterangepicker/daterangepicker.js}"></script>
<!--===============================================================================================-->
<script src="../static/assets/vendor/countdowntime/countdowntime.js"
        th:src="@{/assets/vendor/countdowntime/countdowntime.js}"></script>
<!--===============================================================================================-->
<script src="../static/assets/js/main.js" th:src="@{/assets/js/main.js}"></script>

<script>
  const loginDiv = $('#login');
  const registrationDiv = $('#register');

  function toggleRegistrationForm() {
    invalidateForm();
    loginDiv.fadeOut(200, () => {
      registrationDiv.fadeIn(200)
    });
  }

  function toggleLoginForm() {
    invalidateForm();
    registrationDiv.fadeOut(200, () => {
      loginDiv.fadeIn(200)
    });
  }

  function toggleSubmit() {
    const regSubmitBtn = $('#register-submit');
    regSubmitBtn.attr('disabled', !regSubmitBtn.attr('disabled'));
  }
</script>

</body>
</html>