<div>
  <div mat-dialog-title>
<h1 mat-dialog-title>{{data.title}}</h1>
</div>
<div mat-dialog-content>
 <h5>{{data.message}}</h5>
</div>
<div mat-dialog-actions class="dialog-footer">
<button mat-button (click)="closeDialog()">Odustani</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Potvrdi</button>
</div>
</div>
