<div>
  <div mat-dialog-title>
    <h1 mat-dialog-title>{{data.title}}</h1>
  </div>
  <div mat-dialog-content>
    <form>
      <mat-form-field class="dialog-input" appearance="standard">
        <mat-label>Pitanje</mat-label>
        <input matInput [(ngModel)]="newPoll.name" placeholder="Unesite pitanje..." name="name">
      </mat-form-field>

      <mat-form-field class="dialog-input" appearance="standard">
        <mat-label>Rizično</mat-label>
        <mat-select [(ngModel)]="newPoll.isCritical" placeholder="Odaberite rizičnost" name="isCritical">
          <mat-option [value]="null"></mat-option>
          <mat-option [value]="true">Rizično</mat-option>
          <mat-option [value]="false">Nije rizično</mat-option>
        </mat-select>
      </mat-form-field>
    </form>
  </div>
  <div mat-dialog-actions class="dialog-footer">
    <button mat-button (click)="closeDialog()">Odustani</button>
    <button mat-button [mat-dialog-close]="newPoll" cdkFocusInitial>Spremi</button>
  </div>
</div>
