<div class="table-container mat-elevation-z1">
  <mat-toolbar class="mat-elevation-z1">Pitanja&nbsp;&nbsp;<button mat-icon-button
                                                                   (click)="openNewDialog()">
    <mat-icon>add</mat-icon>
  </button>
  </mat-toolbar>

  <table mat-table matSort #pollTable [dataSource]="dataSource">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Pitanje</th>
      <td mat-cell *matCellDef="let element"> {{element.name}}</td>
    </ng-container>

    <ng-container matColumnDef="isCritical">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Rizično</th>
      <td mat-cell *matCellDef="let element"> {{ element.isCritical ? 'Rizično' : 'Nije rizično' }}</td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Akcije</th>
      <td mat-cell *matCellDef="let element" style="flex-basis: 85px !important;">
        <button mat-icon-button (click)="openEditDialog(element)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button (click)="deletePoll(element)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>
</div>

