<div class="notification-container">
  <div class="unread-notification" *ngFor="let notification of notifications">
    <h3>
      <mat-icon style="vertical-align: middle">notifications</mat-icon>&nbsp;{{notification.title}}
    </h3>
    <div style="padding: 1.5em;">
      {{notification.content}}
    </div>
  </div>
  <div class="read-notification" *ngFor="let notification of notifications">
    <h3>
      <mat-icon>notifications_none</mat-icon>{{notification.title}}
    </h3>
    <div style="padding: 1.5em;">
      {{notification.content}}
    </div>
  </div>
</div>
