/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '../node_modules/angular5-toaster/src/toaster.css';
@import url('https://fonts.googleapis.com/css?family=Merriweather');
@import url('https://fonts.googleapis.com/css?family=Lato');


@import '~@angular/material/theming';
@include mat-core();

$primary: mat-palette($mat-blue,200);
$accent: mat-palette($mat-orange,200);

$theme: mat-light-theme($primary, $accent);

@include angular-material-theme($theme);

* {
  font-family: "Merriweather", "Open Sans", sans-serif;
  margin: 0;
}

@media(max-width: 834px) {
  .mat-cell {
    font-size: 8pt !important;
  }

  .mat-header-cell {
    font-size: 8pt !important;
  }

  .unread-notification {
    font-size: 10pt;
  }

  .read-notification {
    font-size: 10pt;
  }
}
